In [1]:
my_tuple = (10, "hello", 3.14)
print(my_tuple)

(10, 'hello', 3.14)

In [2]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [4]:
# Create a phone book
phone_book = {
    "Pragati": "1236828930",
    "Ashlesha": "9877497893730",
    "Pranali": "55578939467"
}

# Add a new contact
new_contact_name = "Divya"
new_contact_number = "77768749999"
phone_book[new_contact_name] = new_contact_number

# Retrieve the phone number
find = "Pragati"
if find in phone_book:
    phone_number = phone_book[find]
    print(f"The phone number of {find} is {phone_number}")
else:
    print(f"{find} not found in the phone book.")

# updated phone book
print("Updated Phone Book:")
print(phone_book)

The phone number of Pragati is 1236828930
Updated Phone Book:
{'Pragati': '1236828930', 'Ashlesha': '9877497893730', 'Pranali': '55578939467', 'Divya': '77768749999'}

In [6]:
# Dictionary of student names and grades
student_grades = {
    "Aaliya": 90,
    "Riya": 85,
    "Siya": 92,
    "Janhavi": 88,
    "Yami": 95
}

# average grade
average_grade = sum(student_grades.values()) / len(student_grades)
print(f"Average Grade: {average_grade:.2f}")

#student with the highest grade
highest_grade_student = max(student_grades, key=student_grades.get)
highest_grade = student_grades[highest_grade_student]
print(f"Student with the Highest Grade: {highest_grade_student} with a grade of {highest_grade}")

Average Grade: 90.00
Student with the Highest Grade: Yami with a grade of 95

In [9]:
# Sets representing math and physics students
math_students = {"Aman", "Mahi", "Yash", "Ravi"}
phy_students = {"Ravi", "Prerna", "Akash", "Karan"}

# Determine the intersection
intersection_students = math_students.intersection(phy_students)
print(f"Students who study both math and physics: {intersection_students}")

# Find the union of
union_students = math_students.union(phy_students)
print(f"All unique students in math and physics: {union_students}")

Students who study both math and physics: {'Ravi'}
All unique students in math and physics: {'Akash', 'Prerna', 'Karan', 'Aman', 'Ravi', 'Yash', 'Mahi'}

In [12]:
# Sets representing math and physics students
math_students = {"Aman", "Mahi", "Yash", "Ravi"}
phy_students = {"Ravi", "Prerna", "Mahi", "Karan"}

# Remove a specific student from the math
math_students.discard("Yash")
print(f"Math students after removing Yash: {math_students}")

# Add a new student to the physics
new_phy_student = "Jiya"
phy_students.add(new_phy_student)
print(f"Physics students after adding Jiya: {phy_students}")

Math students after removing Yash: {'Aman', 'Ravi', 'Mahi'}
Physics students after adding Jiya: {'Prerna', 'Mahi', 'Ravi', 'Jiya', 'Karan'}